/* 
边距
盒子模型
图片,链接,标题,文字
表格,表单
列表
全局
*/

article,
aside,
blockquote,
body,
button,
code,
dd,
dialog,
div,
dl,
dt,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
input,
legend,
li,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

*,
div,
p {
    -webkit-box-sizing: border-box
}

img {
    max-width: 100%
}

img,
input {
    vertical-align: middle
}

fieldset,
img {
    border: 0
}

a {
    text-decoration: none
}

a:active {
    opacity: .7
}

*,
a:focus,
input:focus {
    outline: 0
}

a,
body {
    color: #333
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500
}

em,
i {
    font-style: normal
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th {
    text-align: left
}

input,
select,
textarea {
    font-size: 100%
}

li,
ol,
ul {
    list-style: none
}

* {
    -webkit-tap-highlight-color: transparent
}